<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <default f="f">
        <cache a="a" b="b">
            <adapter>Memcache</adapter>
            <time>3</time>
            <tunit>h</tunit>
            <htunit>hs</htunit>
        </cache>
        <persist>
            <adapter>Mysql</adapter>
            <dataCon>
                <user>root</user>
                <pass>123</pass>
                <host>localhost</host>
                <db>test</db>
            </dataCon>
        </persist>
    </default>    
    <production>
    </production>    
    <development d="d" f="ff">
        <cache c="c">
            <adapter>File</adapter>
            <time>5</time>
            <tunit>m</tunit>
        </cache>
    </development>	
</configuration>
